<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Про готель «Shelter»</title>
</head>
<body id="body" class="companyInformationPageSite">
	${require('html-loader!./components/header.html')}
	<article class="menu-xs container" id="menuXS">
		<div class="closeMenuBLock">
			<div class="borderCloseButton">
				<a href="#" class="closeMenuButton" id="closeMenuButton"></a>
			</div>
		</div>
		<div class="logoMenuBlock">
			<a href="#" class="logoMenu"></a>
		</div>
		<ul class="mobileMenuList">
			<li class="menuItem"><a href="#" class="linkItem">готель</a></li>
			<li class="menuItem"><a href="#" class="linkItem">сауна</a></li>
			<li class="menuItem"><a href="#" class="linkItem">весілля</a></li>
			<li class="menuItem"><a href="#" class="linkItem">конференції</a></li>
			<li class="menuItem"><a href="#" class="linkItem">мережа</a></li>
			<li class="menuItem"><a href="#" class="linkItem">контакти</a></li>
		</ul>
		<div class="messengerBlockFirst">
			<ul class="messengerList">
				<li class="messengerItem"><a href="#" class="messengerLink">VIBER</a></li>
				<li class="messengerItem"><a href="#" class="messengerLink">TELEGRAM</a></li>
			</ul>
		</div>
		<div class="phoneNumberBlock">
			<a href="tel:+380500000000" class="phoneNumber">+38 (050) 000 00 00</a>
		</div>
		<div class="messengerBlockSecond">
			<ul class="messengerList">
				<li class="messengerItem"><a href="#" class="messengerLink">FACEBOOK</a></li>
				<li class="messengerItem"><a href="#" class="messengerLink">INSTAGRAM</a></li>
			</ul>
		</div>
	</article>
	<main>
		<article class="aboutUs main container">
			<div class="aboutUsblock mainBlock">
				<div class="imageRentBlock">
					<div class="mobileBlock">
						<div class="blockImage"></div>
						<div class="mobileBlockTitle">
							<a href="" class="linkTitle">
								<h3 class="title">ПРО&nbsp;ГОТЕЛЬ&nbsp;«SHELTER»</h3>
							</a>
						</div>
					</div>
					<div class="blockRent">
						<div class="button">
							<a href="" class="linkButton">
								<span class="textButton">напишіть нам</span>
							</a>
						</div>
						<div class="blockMessenger">
							<a href="#" class="linkMessenger linkMessengerFirst"><span class="viber">VIBER</span><span class="viberMobile">Viber</span></a>
							<a href="#" class="linkMessenger linkMessengerSecond"><span class="telegram">TELEGRAM</span><span class="telegramMobile">Telegram</span></a>
						</div>
					</div>
				</div>
				<div class="aboutUsInfo mainInfo">
					<span class="title">Про нас</span>
					<span class="text">
						Запрошуємо у трьохзірковий готель розташований у двох 
						хвилинах їзди від міста Ковеля. Shelter знаходиться на 
						перехресті автошляхів Варшава-Київ, Брест-Житомир, в селі 
						Колодяжне. Батьківщина геніальної поетеси Лесі Українки. 
						Запрошуємо у трьохзірковий готель розташований у двох 
						хвилинах їзди від міста Ковеля.</br></br>
						Ми потурбувалися, щоб час, проведений у «Shelter» залишив 
						у пам’яті винятково приємні моменти. Створюючи атмосферу 
						затишку та комфорту, ми працювали над тим, щоб ви хотіли 
						до нас повернутися.
					</span>
					<div class="caruselWorks">
						<div class="glide glideAboutUs">
							<div class="glide__track" data-glide-el="track">
								<ul class="glide__slides">
									<li class="glide__slide first"></li>
									<li class="glide__slide second"></li>
									<li class="glide__slide third"></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="blockMessengerColumn">
					<div class="messenger">
						<a href="#" class="linkMessenger"><span class="instagram">INSTAGRAM</span></a>
						<a href="#" class="linkMessenger"><span class="facebook">FACEBOOK</span></a>
					</div>
				</div>
			</div>
		</article>
		<article class="additionalInformation medium container">
			<div class="addInfoBlock mediumBlock">
				<div class="pictureMediumBlock"></div>
				<div class="opacityVerticalString">
					<span class="text">У&nbsp;НАС&nbsp;Є&nbsp;ВСЕ</span>
				</div>
				<div class="addInfo mediumInfo">
					<span class="title">Що ще?</span>
					<span class="text">
						Інформація про додаткові послуги готелю, такі як сауна, 
						кафетерій та хостел. Короткий опис переваг які отримає 
						гість при виборі Шелтера. Можна написати про сніданки та 
						додаткові послуги в номерах такі як прання, хімчистка, 
						прасування...
					</span>
					<div class="caruselBlock">
						<div class="glide glideAddInfo">
							<div class="glide__track" data-glide-el="track">
								<ul class="glide__slides">
									<li class="glide__slide first"></li>
									<li class="glide__slide second"></li>
									<li class="glide__slide third"></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="reasonsСome large container">
			<div class="reasonsСomeBlock largeBlock">
				<div class="reasonsСomeInfo largeInfo">
					<span class="title">Варто приїхати...</span>
					<span class="textFirst text">
						Готельний комплекс Shelter розташований в двох хвилинах 
						їзди від міста Ковеля, та перехрестя автошляхів 
						Варшава-Київ Брест-Житомир , в селі Колодяжне на 
						Батьківщині геніальної поетеси Лесі Українки.</br></br>
						Готель відповідає європейському рівню "три зірки". Наші 
						номери по-домашньому затишні i комфортні, оснащені всіма 
						сучасними зручностями . В кожному номері Ви знайдете кабельне 
						ТВ, телефон, WiFi Iнтернет , сейф, мiнiбар, душ, фен, 
						кондиціонер.
					</span>
					<div class="caruselBlock">
						<div class="glide glideReasonsСome">
							<div class="glide__track" data-glide-el="track">
								<ul class="glide__slides">
									<li class="glide__slide first"></li>
									<li class="glide__slide second"></li>
									<li class="glide__slide third"></li>
								</ul>
							</div>
						</div>
					</div>
					<span class="textSecond text">
						Сніданок в кафе готелю - завжди гарний початок дня, 
						а смачний обід чи вечеря з друзями біля розпаленого 
						каміну залишать на довго приємні спогади.</br></br>
						До послуг гостей чудова сауна, басейн з гідромасажем, кімната відпочинку, більярд, 
						стоянка для легкового автотранспорту та автобусів, лiтнiй майданчик для дітей.</br></br>
						Для ділових людей прекрасно обладнаний бізнес-центр. 
						Ви зможете провести тут переговори, семінари, тренінги, 
						а комплексне обслуговування дасть можливість зосередитись 
						на роботі i відпочити пiсля успішного її завершення.</br></br>
						Відкриття комплексу - 2008 рік.
					</span>
				</div>
				<div class="opacityVerticalString">
					<span class="text">ЯК&nbsp;ВДОМА</span>
				</div>
				<div class="pictureLargeBlock"></div>
			</div>
		</article>
		<article class="classNumbers container">
			<a href="standardNumber.html" class="linkBlock">
				<div class="numberBlock numberBlockFirst"></div>
				<div class="hoverBlock">
					<div class="opacityWhite"></div>
					<div class="informBlock">
						<span class="numberProposition">01</span>
						<div class="blockText">
							<div class="blockInfo">
								<h3 class="numberTitle">СТАНДАРТ</h3>
								<span class="numberText">власна вбиральня, мінібар, сейф, телевізор, та інші зручності.</span>
							</div>
							<span class="numberPrice">1200 грн</span>
						</div>
					</div>
				</div>
			</a>
			<a href="updateNumber.html" class="linkBlock">
				<div class="numberBlock numberBlockSecond"></div>
				<div class="hoverBlock">
					<div class="opacityWhite"></div>
					<div class="informBlock">
						<span class="numberProposition">02</span>
						<div class="blockText">
							<div class="blockInfo">
								<h3 class="numberTitle">ПОКРАЩЕНИЙ</h3>
								<span class="numberText">вітальня, власна ванна, гардероб, мінібар, телевізор, посуд та інші зручності.</span>
							</div>
							<span class="numberPrice">1500 грн</span>
						</div>
					</div>
				</div>
			</a>
			<a href="doubleRoomLuxNumber.html" class="linkBlock">
				<div class="numberBlock numberBlockThird"></div>
				<div class="hoverBlock">
					<div class="opacityWhite"></div>
					<div class="informBlock">
						<span class="numberProposition">03</span>
						<div class="blockText">
							<div class="blockInfo">
								<h3 class="numberTitle">ДВОКІМНАТНИЙ ЛЮКС</h3>
							<span class="numberText">вітальня, власна ванна, гардероб, мінібар, кондеціонер, телевізор, посуд, халат та інші зручності.</span>
							</div>
							<span class="numberPrice">1750 грн</span>
						</div>
					</div>
				</div>
			</a>
			<a href="economyNumber.html" class="linkBlock">
				<div class="numberBlock numberBlockFourth"></div>
				<div class="hoverBlock">
					<div class="opacityWhite"></div>
					<div class="informBlock">
						<span class="numberProposition">04</span>
						<div class="blockText">
							<div class="blockInfo">
								<h3 class="numberTitle">ЕКОНОМ</h3>
								<span class="numberText">Власна вбиральня, телевізор та інші зручності</span>
							</div>
							<span class="numberPrice">910 грн</span>
						</div>
					</div>
				</div>
			</a>
			<a href="familyNumber.html" class="linkBlock">
				<div class="numberBlock numberBlockFifth"></div>
				<div class="hoverBlock">
					<div class="opacityWhite"></div>
					<div class="informBlock">
						<span class="numberProposition">05</span>
						<div class="blockText">
							<div class="blockInfo">
								<h3 class="numberTitle">СІМЕЙНИЙ</h3>
							<span class="numberText">власна вбиральня, мінібар, диван, телевізор, та інші зручності.</span>
							</div>
							<span class="numberPrice">1390 грн</span>
						</div>
					</div>
				</div>
			</a>
		</article>
		<article class="shelterHoliday container">
			<div class="blockShelterHoliday">
				<div class="infoShelterHoliday">
					<h3 class="titleShelterHoliday">ПРИХИСТОК ТВОГО ВІДПОЧИНКУ</h3>
					<span class="textShelterHoliday">Ми потурбувалися, щоб час, проведений у «Shelter» залишив у пам’яті винятково приємні моменти. Створюючи атмосферу затишку та комфорту, ми працювали над тим, щоб ви хотіли до нас повернутися.</span>
				</div>
				<div class="calendarBlock">
					<form class="tourForm" action="">
						<div class="blockComponentsForm">
							<div class="blockTour blockClassRoom">
								<span class="title">номер</span>
								<span class="showSelectItem" id="showSelectItem2"></span>
								<div class="showSelect" id="showSelect2">
									<ul class="selectList">
										<li class="selectItem2">Стандарт</li>
										<li class="selectItem2">Покращений</li>
										<li class="selectItem2">Двокімнатний люкс</li>
										<li class="selectItem2">Економ</li>
										<li class="selectItem2">Сімейний</li>
									</ul>
								</div>
							</div>
							<div class="blockTour blockArrival">
								<span class="title" id="titleArrival2">заїзд</span>
								<span class="showDateArrival" id="showDateArrival2"></span>
							</div>
							<div class="blockTour blockDeparture">
								<span class="title" id="titleDeparture2">виїзд</span>
								<span class="showDateDeparture" id="showDateDeparture2"></span>
							</div>
							<div class="blockTour blockSleepingPlace">
								<span class="title">спальні місця</span>
								<div class="sleepingPlace">
									<input class="checkNumberBed" type="radio" name="sleepingPlace" id="firstBottom">
									<label class="numberBed" for="firstBottom">1</label>
									<input class="checkNumberBed" type="radio" name="sleepingPlace" id="secondBottom">
									<label class="numberBed" for="secondBottom">2</label>
									<input class="checkNumberBed" type="radio" name="sleepingPlace" id="thirdBottom">
									<label class="numberBed" for="thirdBottom">3</label>
									<input class="checkNumberBed" type="radio" name="sleepingPlace" id="fourthBottom">
									<label class="numberBed" for="fourthBottom">4</label>
								</div>
							</div>
						</div>
						<div class="showElementBooking" id="showElementBooking2">
							<div class="showCalendarArrival" id="showCalendarArrival2">
								<table id="calendar3" class="calendar">
									<thead>
										<tr><td><</td><td></td><td colspan="4">></td></tr>
										<tr><td>Пн</td><td>Вт</td><td>Ср</td><td>Чт</td><td>Пт</td><td>Сб</td><td>Нд</td>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class="showCalendarDeparture" id="showCalendarDeparture2">
								<table id="calendar4" class="calendar">
									<thead>
										<tr><td><</td><td></td><td colspan="4">></td></tr>
										<tr><td>Пн</td><td>Вт</td><td>Ср</td><td>Чт</td><td>Пт</td><td>Сб</td><td>Нд</td>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</form>
					<div class="button"><a href="#" class="linkButton">забронювати<span class="textMobile"> номер</span></a></div>
				</div>
			</div>
		</article>
		<article class="googleMap container">
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10003.61849583877!2d24.788683786397346!3d51.18398079025253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472430f2210e4983%3A0x5dad156121be28d9!2sShelter%20Hotel%20%26%20Restaurant!5e0!3m2!1sru!2sua!4v1596460398623!5m2!1sru!2sua" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</article>
	</main>
	${require('html-loader!./components/footer.html')}
	<script src="../assets/showElementForCompanyInformation.js"></script>
	<script>
		function selectedArrivalDate2() {
			let monthYearCalendars = document.querySelector('#calendar3>thead>tr:nth-child(1)>td:nth-child(2)')
			let mount = monthYearCalendars.getAttribute("data-month")
			let year = monthYearCalendars.getAttribute("data-year")
			if(window.innerWidth <= 750){
				showDateArrival2.innerHTML = [('0' + event.target.innerHTML).slice(-2), ('0' + (parseInt(mount) + 1)).slice(-2), year.slice(2,4)].join(".");
			}
			else {
				showDateArrival2.innerHTML = [('0' + event.target.innerHTML).slice(-2), ('0' + (parseInt(mount) + 1)).slice(-2), year].join(".");
			}
			
			if(document.querySelector('#calendar3 td.selectedDate')){
				document.querySelector('#calendar3 td.selectedDate').classList.remove('selectedDate')
			}
			if(document.querySelector('#calendar3 td.today')){
				document.querySelector('#calendar3 td.today').classList.remove('today')
			}
			if(!event.target.classList.contains('selectedDate')) {
				event.target.classList.add('selectedDate');
			}
			else {
				event.target.classList.remove('selectedDate');
			}
		}
		function selectedDepartureDate2() {
			let monthYearCalendars = document.querySelector('#calendar4>thead>tr:nth-child(1)>td:nth-child(2)')
			let mount = monthYearCalendars.getAttribute("data-month");
			let year = monthYearCalendars.getAttribute("data-year");
			if(window.innerWidth <= 750){
				showDateDeparture2.innerHTML = [('0' + event.target.innerHTML).slice(-2), ('0' + (parseInt(mount) + 1)).slice(-2), year.slice(2,4)].join(".");
			}
			else {
				showDateDeparture2.innerHTML = [('0' + event.target.innerHTML).slice(-2), ('0' + (parseInt(mount) + 1)).slice(-2), year].join(".");
			}
			
			if(document.querySelector('#calendar4 td.selectedDate')){
				document.querySelector('#calendar4 td.selectedDate').classList.remove('selectedDate')
			}
			if(document.querySelector('#calendar4 td.today')){
				document.querySelector('#calendar4 td.today').classList.remove('today')
			}
			if(!event.target.classList.contains('selectedDate')) {
				event.target.classList.add('selectedDate');
			}
			else {
				event.target.classList.remove('selectedDate');
			}
		}
	</script>
</body>
</html>