<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Конференц-зал в «Shelter»</title>
</head>
<body id="body" class="conferencesPageSite">
	${require('html-loader!./components/header.html')}
	<article class="menu-xs container" id="menuXS">
		<div class="closeMenuBLock">
			<div class="borderCloseButton">
				<a href="#" class="closeMenuButton" id="closeMenuButton"></a>
			</div>
		</div>
		<div class="logoMenuBlock">
			<a href="#" class="logoMenu"></a>
		</div>
		<ul class="mobileMenuList">
			<li class="menuItem"><a href="#" class="linkItem">готель</a></li>
			<li class="menuItem"><a href="#" class="linkItem">сауна</a></li>
			<li class="menuItem"><a href="#" class="linkItem">весілля</a></li>
			<li class="menuItem"><a href="#" class="linkItem">конференції</a></li>
			<li class="menuItem"><a href="#" class="linkItem">мережа</a></li>
			<li class="menuItem"><a href="#" class="linkItem">контакти</a></li>
		</ul>
		<div class="messengerBlockFirst">
			<ul class="messengerList">
				<li class="messengerItem"><a href="#" class="messengerLink">VIBER</a></li>
				<li class="messengerItem"><a href="#" class="messengerLink">TELEGRAM</a></li>
			</ul>
		</div>
		<div class="phoneNumberBlock">
			<a href="tel:+380500000000" class="phoneNumber">+38 (050) 000 00 00</a>
		</div>
		<div class="messengerBlockSecond">
			<ul class="messengerList">
				<li class="messengerItem"><a href="#" class="messengerLink">FACEBOOK</a></li>
				<li class="messengerItem"><a href="#" class="messengerLink">INSTAGRAM</a></li>
			</ul>
		</div>
	</article>
	<main>
		<article class="conferencesInShelter main container">
			<div class="conferencesBlock mainBlock">
				<div class="imageRentBlock">
					<div class="mobileBlock">
						<div class="blockImage"></div>
						<div class="mobileBlockTitle">
							<a href="" class="linkTitle">
								<h3 class="title">КОНФЕРЕНЦІЇ&nbsp;У&nbsp;SHELTER</h3>
							</a>
						</div>
					</div>
					<div class="blockRent">
						<div class="button">
							<a href="" class="linkButton">
								<span class="textButton">організувати свято</span>
							</a>
						</div>
						<div class="blockMessenger">
							<a href="#" class="linkMessenger linkMessengerFirst"><span class="viber">VIBER</span><span class="viberMobile">Viber</span></a>
							<a href="#" class="linkMessenger linkMessengerSecond"><span class="telegram">TELEGRAM</span><span class="telegramMobile">Telegram</span></a>
						</div>
					</div>
				</div>
				<div class="conferencesInfo mainInfo">
					<span class="title">КОНФЕРЕНЦІЇ У SHELTER</span>
					<span class="text">
						Зручне розташування, необхідне обладнання та комфортний 
						конференц-зал. Можливість розмістити слухачів конференції 
						на ночівлю роблять Shelter ідеальним місцем для проведення 
						будь-яких подій.
					</span>
					<div class="conferencesFeature mainFeature">
						<ul class="listFeature">
							<li class="itemFeature firstItem">до 150 людей</li>
							<li class="itemFeature secondItem">зручна дата</li>
							<li class="itemFeature thirdItem">мультимедійний супровід</li>
							<li class="itemFeature fourthItem">поселення груп</li>
							<li class="itemFeature fifthItem">комплексне харчування</li>
							<li class="itemFeature sixthItem">транспортні послуги</li>
						</ul>
					</div>
					<div class="caruselWorks">
						<div class="glide glideConferences">
							<div class="glide__track" data-glide-el="track">
								<ul class="glide__slides">
									<li class="glide__slide first"></li>
									<li class="glide__slide second"></li>
									<li class="glide__slide third"></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="blockMessengerColumn">
					<div class="messenger">
						<a href="#" class="linkMessenger"><span class="instagram">INSTAGRAM</span></a>
						<a href="#" class="linkMessenger"><span class="facebook">FACEBOOK</span></a>
					</div>
				</div>
			</div>
		</article>
		<article class="complexMenu medium container">
			<div class="complexMenuBlock mediumBlock">
				<div class="pictureMediumBlock"></div>
				<div class="opacityVerticalString">
					<span class="text">ХАРЧУВАННЯ</span>
				</div>
				<div class="complexMenuInfo mediumInfo">
					<span class="title">Комплексне меню</span>
					<span class="text">
						Прагнучи створити незабутню атмосферу вашого весілля 
						ми потурбувалися, щоб обслуговування було на найвищому 
						рівні. Ми пропонуємо комфортний весільний зал, смачну 
						кухню та привітних офіціантів. Можливість поселити 
						гостей вашого свята у нашому готелі. Прагнучи створити 
						незабутню атмосферу вашого весілля ми потурбувалися, 
						щоб обслуговування було на найвищому рівні. 
						Ми пропонуємо комфортний весільний зал, смачну кухню та 
						привітних офіціантів. Можливість поселити гостей вашого 
						свята у нашому готелі.
					</span>
					<div class="caruselBlock">
						<div class="glide glideComplexMenu">
							<div class="glide__track" data-glide-el="track">
								<ul class="glide__slides">
									<li class="glide__slide first"></li>
									<li class="glide__slide second"></li>
									<li class="glide__slide third"></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="details">
					<a href="#" class="linkDetails">ДІЗНАТИСЯ ДЕТАЛІ</a>
				</div>
			</div>
		</article>
		<article class="largeGroups large container">
			<div class="largeGroupsBlock largeBlock">
				<div class="largeGroupsInfo largeInfo">
					<span class="title">Поселення великих груп</span>
					<span class="textFirst text">
						Прагнучи створити незабутню атмосферу вашого весілля ми 
						потурбувалися, щоб обслуговування було на найвищому рівні. 
						Ми пропонуємо комфортний весільний зал, смачну кухню та 
						привітних офіціантів. Можливість поселити гостей вашого свята 
						у нашому готелі. Прагнучи створити незабутню атмосферу вашого 
						весілля ми потурбувалися, щоб обслуговування було на найвищому 
						рівні. Ми пропонуємо комфортний весільний зал, смачну кухню 
						та привітних офіціантів. Можливість поселити гостей вашого 
						свята у нашому готелі.
					</span>
					<div class="caruselBlock">
						<div class="glide glideLargeGroups">
							<div class="glide__track" data-glide-el="track">
								<ul class="glide__slides">
									<li class="glide__slide first"></li>
									<li class="glide__slide second"></li>
									<li class="glide__slide third"></li>
								</ul>
							</div>
						</div>
					</div>
					<span class="textSecond text">
						Прагнучи створити незабутню атмосферу вашого весілля ми 
						потурбувалися, щоб обслуговування було на найвищому рівні. 
						Ми пропонуємо комфортний весільний зал, смачну кухню та 
						привітних офіціантів. Можливість поселити гостей вашого свята 
						у нашому готелі. Прагнучи створити незабутню атмосферу вашого 
						весілля ми потурбувалися, щоб обслуговування було на найвищому 
						рівні. Ми пропонуємо комфортний весільний зал, смачну кухню 
						та привітних офіціантів. Можливість поселити гостей вашого 
						свята у нашому готелі.
					</span>
				</div>
				<div class="opacityVerticalString">
					<span class="text">ЗРУЧНИЙ&nbsp;ХОСТЕЛ</span>
				</div>
				<div class="pictureLargeBlock"></div>
				<div class="details">
					<a href="#" class="linkDetails">ДІЗНАТИСЯ ДЕТАЛІ</a>
				</div>
			</div>
		</article>
		<article class="organizeHoliday container">
			<div class="organizeHolidayBlock">
				<div class="organizeHolidayInfo">
					<span class="title">
						ВТІЛЮЄМО МРІЇ
					</span>
					<span class="text">
						Весілля - це день на який, з нетерпінням, чекає кожна жінка.</br>
						Наречена в своє свято повинна почувати себе наче в казці. 
						Ми створюємо таку казку, втілюючи в життя всі забаганки до 
						найменших дрібниць! Ми прагнемо подарувати вам незабутні 
						враження та багато гарного настрою.
					</span>
				</div>
				<div class="buttonOrganize">
					<a href="#" class="linkButton">
						<span class="textButton">організувати свято</span>
					</a>
				</div>
			</div>
		</article>
		<article class="googleMap container">
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10003.61849583877!2d24.788683786397346!3d51.18398079025253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472430f2210e4983%3A0x5dad156121be28d9!2sShelter%20Hotel%20%26%20Restaurant!5e0!3m2!1sru!2sua!4v1596460398623!5m2!1sru!2sua" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</article>
	</main>
	${require('html-loader!./components/footer.html')}
</body>
</html>