<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Контакти «Shelter»</title>
</head>
<body id="body" class="contactPageSite">
	${require('html-loader!./components/header.html')}
	<main>
		<article class="contact main container">
			<div class="contactBlock mainBlock">
				<div class="imageRentBlock">
					<div class="mobileBlock">
						<div class="blockImage"></div>
						<div class="mobileBlockTitle">
							<a href="" class="linkTitle">
								<h3 class="title">КОНТАКТИ</h3>
							</a>
						</div>
					</div>
				</div>
				<div class="shelterLakesInfo mainInfo">
					<div class="shelterKolodiajne blockInfo">
						<a href="index.html" class="linkShelter">
							<span class="title">SHELTER КОЛОДЯЖНЕ</span>
						</a>
						<span class="address">
							Волинська обл. Ковельський р-н. с. Колодяжне вул. Луцька 14
						</span>
						<ul class="numberBlock">
							<li class="firstPhone phone"><a href="tel:+380500000000" class="linkPhone linkPhoneFirst">+38 (050) 000 00 00</a></li>
							<li class="secondPhone phone"><a href="tel:+380500000000" class="linkPhone linkPhoneSecond">+38 (050) 000 00 00</a></li>
						</ul>
						<div class="blockMessenger">
							<a href="#" class="linkMessenger linkMessengerFirst"><span class="viber">VIBER</span></a>
							<a href="#" class="linkMessenger linkMessengerSecond"><span class="telegram">TELEGRAM</span></a>
						</div>
					</div>
					<div class="shelterLakes blockInfo">
						<a href="shelterLakes.html" class="linkShelter">
							<span class="title">SHELTER НА ОЗЕРАХ</span>
						</a>
						<span class="address">
							Волинська обл. Шацькі Озера, с. Мельники, вул. 17 вересня
						</span>
						<ul class="numberBlock">
							<li class="firstPhone phone"><a href="tel:+380500000000" class="linkPhone linkPhoneFirst">+38 (050) 000 00 00</a></li>
							<li class="secondPhone phone"><a href="tel:+380500000000" class="linkPhone linkPhoneSecond">+38 (050) 000 00 00</a></li>
						</ul>
						<div class="blockMessenger">
							<a href="#" class="linkMessenger linkMessengerFirst"><span class="viber itemMessenger">VIBER</span></a>
							<a href="#" class="linkMessenger linkMessengerSecond"><span class="telegram itemMessenger">TELEGRAM</span></a>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="organizeHoliday container">
			<div class="organizeHolidayBlock">
				<div class="organizeHolidayInfo">
					<span class="title">
						Приїжджай – відпочивай!
					</span>
					<span class="text">
						Запрошуємо у трьохзірковий готель розташований у двох хвилинах 
						їзди від міста Ковеля. Shelter знаходиться на перехресті автошляхів 
						Варшава-Київ, Брест-Житомир, в селі Колодяжне. Батьківщина геніальної 
						поетеси Лесі Українки.
					</span>
				</div>
				<div class="buttonOrganize">
					<a href="#" class="linkButton">
						<span class="textButton">напишіть нам</span>
						<span class="textButtonMobile">забронювати номер</span>
					</a>
				</div>
			</div>
		</article>
		<article class="messenger container">
				<div class="messengerBlock">
					<a href="#" class="linkMessenger"><span class="facebook itemMessenger">FACEBOOK</span></a>
					<a href="#" class="linkMessenger"><span class="instagram itemMessenger">INSTAGRAM</span></a>
				</div>
		</article>
		<article class="googleMap container">
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10003.61849583877!2d24.788683786397346!3d51.18398079025253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472430f2210e4983%3A0x5dad156121be28d9!2sShelter%20Hotel%20%26%20Restaurant!5e0!3m2!1sru!2sua!4v1596460398623!5m2!1sru!2sua" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</article>
	</main>
	${require('html-loader!./components/footer.html')}
</body>
</html>