<footer class="footer container">
    <div class="footerBlock">
        <div class="logoFooter"></div>
        <div class="info">
            <span class="addresses">Волинська обл. Ковельський р-н. с.Колодяжне вул.Луцька 14.</span>
            <a href="" class="linkPhone">
                <span class="phoneNumberFooter">+38 050 055 05 05</span>
            </a>
            <div class="blockMessenger">
				<ul class="messengers">
					<li class="item"><a class="link facebook" href="">Facebook</a></li>
					<li class="item"><a class="link instagram" href="">Instagram</a></li>
				</ul>
			</div>
        </div>
        <div class="createdBlock">
            <span class="created">created by&nbsp;<a href="https://hoba.digital" target="_blank" class="linkCreated"><span class="nameCreated">hoba</span></a></span>
        </div>
    </div>
</footer>